In [436]:
y.groupby(by='label')['Age'].describe()

        count       mean        std   min   25%   50%   75%   max
label
0      1336.0  28.559880   9.105343   0.0  22.0  29.0  35.0  54.0
1       849.0  41.633687  18.283185   5.0  27.0  39.0  54.0  91.0
2       503.0  28.469185   7.646741   0.0  23.0  29.0  34.0  47.0
3       781.0  27.400768   8.697595   5.0  21.0  27.0  33.0  56.0
4       479.0  64.171190  10.314709  42.0  55.0  64.0  72.0  89.0
5       784.0  51.772959  17.953949   7.0  39.0  53.0  65.0  91.0

In [437]:
y.groupby(by='label')['C'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  52.666168  3.637828  43.0  50.0  52.0  55.0  65.0
1       849.0  52.475854  6.552739  34.0  48.0  52.0  57.0  72.0
2       503.0  53.988072  5.491378  37.0  50.0  54.0  58.0  69.0
3       781.0  51.672215  4.552555  35.0  49.0  51.0  55.0  68.0
4       479.0  52.534447  3.579107  44.0  50.0  52.0  55.0  63.0
5       784.0  54.767857  5.493959  39.0  51.0  54.0  58.0  72.0

In [438]:
y.groupby(by='label')['S'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  51.547156  3.711610  39.0  49.0  51.0  54.0  62.0
1       849.0  53.757362  5.666853  35.0  50.0  54.0  58.0  69.0
2       503.0  53.940358  4.976481  40.0  51.0  54.0  58.0  66.0
3       781.0  54.285531  4.079864  43.0  51.0  54.0  57.0  66.0
4       479.0  50.114823  4.111084  40.0  47.0  50.0  53.0  65.0
5       784.0  52.072704  5.211596  37.0  49.0  52.0  56.0  66.0

In [439]:
y.groupby(by='label')['ST'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  51.467814  3.674654  40.0  49.0  51.0  54.0  62.0
1       849.0  53.640754  6.226222  37.0  50.0  54.0  58.0  68.0
2       503.0  54.421471  4.900331  43.0  51.0  54.0  58.0  67.0
3       781.0  53.759283  4.437131  41.0  51.0  54.0  57.0  67.0
4       479.0  50.298539  3.925645  41.0  48.0  50.0  53.0  65.0
5       784.0  52.262755  5.342888  38.0  49.0  52.0  56.0  66.0

In [440]:
y.groupby(by='label')['T'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  51.758234  3.673461  42.0  49.0  51.0  54.0  64.0
1       849.0  53.808009  6.755126  36.0  48.0  54.0  58.0  69.0
2       503.0  54.347913  5.466325  39.0  50.0  54.0  58.0  68.0
3       781.0  50.856594  4.614906  37.0  48.0  51.0  54.0  64.0
4       479.0  51.354906  3.886912  39.0  49.0  51.0  54.0  64.0
5       784.0  53.896684  5.764496  37.0  50.0  54.0  58.0  69.0

In [441]:
y.groupby(by='label')['IT'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  52.587575  3.694084  42.0  50.0  52.0  55.0  66.0
1       849.0  54.121319  6.453983  33.0  49.0  54.0  58.0  73.0
2       503.0  54.433400  5.933482  40.0  50.0  55.0  58.0  71.0
3       781.0  50.154930  4.814275  38.0  47.0  50.0  53.0  63.0
4       479.0  52.688935  4.086576  42.0  50.0  53.0  56.0  67.0
5       784.0  54.663265  5.379720  38.0  51.0  55.0  58.0  71.0

In [442]:
y.groupby(by='label')['I'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  53.354042  3.743012  43.0  51.0  53.0  56.0  66.0
1       849.0  54.585395  6.155997  39.0  50.0  55.0  58.0  70.0
2       503.0  54.944334  5.260626  41.0  51.0  55.0  58.0  68.0
3       781.0  53.038412  4.713707  40.0  50.0  53.0  57.0  69.0
4       479.0  53.413361  4.015179  41.0  51.0  53.0  56.0  67.0
5       784.0  55.044643  4.857541  39.0  52.0  55.0  58.0  70.0

In [443]:
y.groupby(by='label')['IN'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  53.130240  3.698298  42.0  51.0  53.0  56.0  65.0
1       849.0  54.552415  5.759111  40.0  51.0  54.0  58.0  68.0
2       503.0  54.477137  4.882583  41.0  51.0  55.0  58.0  66.0
3       781.0  54.774648  3.727297  42.0  52.0  55.0  58.0  68.0
4       479.0  52.979123  4.045709  41.0  50.0  53.0  56.0  65.0
5       784.0  54.783163  4.900952  42.0  52.0  55.0  58.0  68.0

In [444]:
y.groupby(by='label')['N'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  52.373503  3.647442  41.0  50.0  52.0  55.0  64.0
1       849.0  55.023557  6.016441  38.0  51.0  55.0  59.0  70.0
2       503.0  53.715706  4.648254  39.0  51.0  54.0  57.0  64.0
3       781.0  54.606914  3.831770  43.0  52.0  55.0  57.0  66.0
4       479.0  51.835073  3.862699  42.0  49.0  52.0  55.0  62.0
5       784.0  54.718112  5.100860  41.0  51.0  55.0  58.0  69.0

In [445]:
y.groupby(by='label')['SN'].describe()

        count       mean       std   min   25%   50%   75%   max
label
0      1336.0  51.951347  3.647773  40.0  49.0  52.0  55.0  63.0
1       849.0  54.354535  5.651253  39.0  50.0  54.0  58.0  67.0
2       503.0  53.373757  4.774962  40.0  50.0  54.0  56.5  67.0
3       781.0  54.692702  4.016672  44.0  52.0  55.0  57.0  67.0
4       479.0  50.960334  4.056156  40.0  48.0  51.0  54.0  65.0
5       784.0  53.366071  5.126489  40.0  50.0  54.0  58.0  67.0